.drag-area {
    display: inline-flex;
    border: 2px solid grey;
    width: 30%;
    justify-content: space-between;
}

.drag-group {
    height: 100%;
}

.drag-item {
    width: 20px;
    padding: 80px;
    margin: 8px 8px;
    background: #000;
    color: #FFF;
    border: 8px solid grey;
    border-radius: 5px;
}

.dragged-group {
    background: #FFF;
}